@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,body{
  height: 100%;
}
body{
  margin:0;
  background-color: #f6f6f6;
  font-family: Roboto,Noto Sans,-apple-system,BlinkMacSystemFont,sans-serif;
}
